@import './assets/styles/base.css';
@import './assets/styles/components.css';
@import './assets/styles/nav-links.css';

@import './assets/styles/shell-layout.css';
@import './assets/styles/view-layout.css';
@import './assets/styles/model-view-layout.css';
@import './assets/styles/form-layout.css';
@import './assets/styles/side-view-layout.css';

@import './assets/styles/side-pane.css';
@import './assets/styles/cards.css';
@import './assets/styles/pager.css';
@import './assets/styles/drop-down-menu.css';
@import './assets/styles/collapsible-panel.css';
@import './assets/styles/list-view.css';
@import './assets/styles/date-picker.component.css';


.modal-active {
  overflow: hidden;
}

button:active {
  transform: translateY(2px);
}

a:active {
  transform: translateY(2px);
}


/* toaster */

.toast {
  position: fixed;
  right: 0;
  width: 300px;
  height: 80px;
  padding: .75rem 1.25rem;
  margin-top: 1rem;
  margin-bottom: 4px;
  border: 1px solid transparent;
  border-radius: .25rem;
  animation: move 2s both;
}

.toast-info {
  color: rgb(36, 122, 192);
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.toast-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.toast-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.toast-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.close {
  position: absolute;
  top: 7px;
  right: 10px;
  font-size: 1.5em;
  cursor: pointer;
}

.toast-heading {
  margin-top: 10px;
}

@keyframes move {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
