@import './assets/styles/base.css';
@import './assets/styles/components.css';
@import './assets/styles/nav-links.css';

@import './assets/styles/shell-layout.css';
@import './assets/styles/view-layout.css';
@import './assets/styles/model-view-layout.css';
@import './assets/styles/form-layout.css';
@import './assets/styles/side-view-layout.css';

@import './assets/styles/side-pane.css';
@import './assets/styles/cards.css';
@import './assets/styles/pager.css';
@import './assets/styles/drop-down-menu.css';
@import './assets/styles/collapsible-panel.css';
@import './assets/styles/list-view.css';
@import './assets/styles/date-picker.component.css';
@import './assets/styles/toast.css';
@import './assets/styles/avatar-initials.css';
@import './assets/styles/toggle.css';
@import './assets/styles/modal.css';

@import './assets/styles/indice-ng-icons-inline.css';

.modal-active {
  overflow: hidden;
}

button:active {
  transform: translateY(2px);
}

a:active {
  transform: translateY(2px);
}
