.circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.circle .initials {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 19px;
  letter-spacing: 0.2625px;
}
