@reference tailwindcss;

@layer base {
  html {
    scroll-behavior: smooth !important;
  }
  
  input {
    outline: none;
  }
  
  input[type=number] {
    outline: none;
  }
  
  textarea {
    outline: none;
  }
  
  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  a {
    @apply text-gray-600;
  }
   
}
