@layer components {

  .view-container {
    @apply mt-8 sm:mt-5 flex flex-col;
  }

  .view-container-fluid {
    @apply sm:px-0;
  }

  .view-layout-paddings {
    @apply py-6 sm:py-10;
  }

  .view-layout-title-container {
    @apply flex flex-row justify-start ;
  }

  .view-layout-title-container-inner {
    @apply flex-1 min-w-0;
  }

  .title-icon {
    @apply text-2xl md:text-xl text-white font-thin mr-1;
  }

  .view-layout-title {
    @apply inline text-xl md:text-3xl text-white;
  }

  .view-layout-title-busy {
    @apply animate-pulse inline text-xl md:text-3xl text-gray-200;
  }

  .meta-container {
    @apply mt-1 flex flex-col sm:flex-row sm:flex-wrap sm:mt-0 sm:space-x-6;
  }

  .meta-item-container {
    @apply mt-2 flex items-center text-sm text-gray-500;
  }

  .meta-icon {
    @apply text-sm text-gray-400 mr-1;
  }

  .meta-container-sm {
    @apply flex flex-wrap sm:flex-row space-x-2;
  }

  .meta-text {
    @apply text-white text-xs;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .search-container {
    @apply relative text-gray-400 focus-within:text-gray-600 ml-2 hover:shadow-sm hover:bg-gray-900;
  }

  .search-input {
    @apply block w-60 bg-gray-50 rounded-sm text-sm text-gray-900 placeholder-gray-500 outline-none;
  }
}
