<lib-view-layout title="Toaster Sample">

  <div class="cards-deck-1">

    <h1 class="py-5">Click on a button to test the toaster service!</h1>

    <div class="space-y-5">
      <button class="btn-info" (click)="showInfo('info')">Show Info</button>
      <br>
      <button class="btn-success" (click)="showInfo('success')">Show Success</button>
      <br>
      <button class="btn-warning" (click)="showInfo('warning')">Show Warning</button>
      <br>
      <button class="btn-error" (click)="showInfo('error')">Show Error</button>
      <br>
    </div>

  </div>

</lib-view-layout>
