<div class="mt-4">
    <lib-tab-group (tabChanged)="onTabChanged($event)"
                   #staticTabGroup>
        <lib-tab id="tab-one"
                 labelText="First Tab">
            <div class="space-y-2 pb-4 mt-4">
                This is the content of the first tab!
            </div>
        </lib-tab>
        <lib-tab id="tab-two"
                 labelText="Second Tab">
            <div class="space-y-2 pb-4 mt-4">
                This is the content of the second tab!
            </div>
        </lib-tab>
        <lib-tab id="tab-three"
                 labelText="Third Tab">
            <ng-template let-tab
                         libTabLabel>
                <div class="inline-flex items-center">
                    <svg class="text-gray-400 group-hover:text-gray-500 -ml-0.5 mr-2 h-5 w-5"
                         x-state-description="undefined: &quot;text-indigo-500&quot;, undefined: &quot;text-gray-400 group-hover:text-gray-500&quot;"
                         x-description="Heroicon name: solid/credit-card"
                         xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 20 20"
                         fill="currentColor"
                         aria-hidden="true">
                        <path d="M4 4a2 2 0 00-2 2v1h16V6a2 2 0 00-2-2H4z"></path>
                        <path fill-rule="evenodd"
                              d="M18 9H2v5a2 2 0 002 2h12a2 2 0 002-2V9zM4 13a1 1 0 011-1h1a1 1 0 110 2H5a1 1 0 01-1-1zm5-1a1 1 0 100 2h1a1 1 0 100-2H9z"
                              clip-rule="evenodd"></path>
                    </svg>
                    <span>Billing</span>
                </div>
            </ng-template>
            <div class="space-y-2 pb-4 mt-4">
                <b>You can add as many tabs as you like.</b>
                <br>
                <p>Content can be anything</p>
                <div class="inline-flex rounded-md shadow">
                    <a href="javascript:void(0)"
                       class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700">
                        Get started
                    </a>
                </div>
            </div>
        </lib-tab>
    </lib-tab-group>
    <hr>
    <lib-tab-group (tabChanged)="onTabChanged($event)"
                   #dynamicTabGroup>
        <lib-tab *ngFor="let item of news"
                 [labelText]="item.name">
            <ng-template libTabLabel>
                <span class="inline-flex items-center">
                    {{ item.name }}
                    <button class="px-2"
                            type="button"
                            (click)="onNewsDelete(item)"
                            title="Αφαίρεση καρτέλας">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="h-4 w-4 stroke-slate-400 transition group-hover:rotate-[-4deg] group-hover:stroke-slate-600"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke="currentColor"
                             stroke-width="2">
                            <path stroke-linecap="round"
                                  stroke-linejoin="round"
                                  d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </span>
            </ng-template>
            <div class="space-y-2 pb-4 mt-4">
                <p>{{ item.description }}</p>
            </div>
        </lib-tab>
    </lib-tab-group>
</div>