<lib-view-layout title="Advanced Search Playground"
                 [busy]="!items"
                 [actions]="actions"
                 [meta-items]="metaItems">
    <lib-list-view [items]="items"
                   [show-pager]="true"
                   [searchOptions]="searchOptions"
                   [pager-position]="'both'"
                   [page]="page"
                   [filters]="filters"
                   [page-size]="pageSize"
                   [count]="count"
                   [sort-options]="sortOptions"
                   [sort]="sort"
                   [sort-dir]="sortdir"
                   [view]="view"
                   (pageChanged)="pageChanged($event)"
                   (advancedSearchChanged)="advancedSearchChanged($event)"
                   (pageSizeChanged)="pageSizeChanged($event)"
                   (sortChanged)="sortChanged($event)"
                   (sortdirChanged)="sortdirChanged($event)">
        <lib-list-tile>
            <ng-template let-item>
                <div class="card">
                    <div class="card-header">
                        {{ item.title }}
                    </div>
                    <div class="card-body py-5">
                        <p class="overflow-ellipsis overflow-hidden">{{ item.description}}</p>
                    </div>
                    <div class="card-footer">
                        <a [routerLink]="item.path">View sample</a>
                    </div>
                </div>
            </ng-template>
        </lib-list-tile>
        <lib-list-column title="Title"
                         [full-width]="true">
            <ng-template let-item>
                <a [routerLink]="item.path">{{item.title}}</a>
            </ng-template>
        </lib-list-column>
        <lib-list-column title="Description">
            <ng-template let-item>
                {{item.description}}
            </ng-template>
        </lib-list-column>
    </lib-list-view>
</lib-view-layout>