<lib-form-layout title="Content" sub-title="Sample content inside a lib-form-layout component">
<div class="px-4 py-6">
    <div class="pt-5 pb-5 sm:pt-0">
      <dl class="space-y-8 sm:space-y-6">
        <div>
          <dt class="text-sm font-medium text-gray-500 sm:w-40 sm:flex-shrink-0">
            Bio
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2">
            <p>
              Enim feugiat ut ipsum, neque ut. Tristique mi id elementum praesent. Gravida in tempus feugiat netus enim aliquet a, quam scelerisque. Dictumst in convallis nec in bibendum aenean arcu.
            </p>
          </dd>
        </div>
        <div>
          <dt class="text-sm font-medium text-gray-500 sm:w-40 sm:flex-shrink-0">
            Location
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2">
            New York, NY, USA
          </dd>
        </div>
        <div>
          <dt class="text-sm font-medium text-gray-500 sm:w-40 sm:flex-shrink-0">
            Website
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2">
            ashleyporter.com
          </dd>
        </div>
        <div>
          <dt class="text-sm font-medium text-gray-500 sm:w-40 sm:flex-shrink-0">
            Birthday
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2">
            <time datetime="1988-06-23">
              June 23, 1988
            </time>
          </dd>
        </div>
      </dl>
    </div>
    <div class="pt-5 pb-5 sm:pt-0">
      <dl class="space-y-8 sm:space-y-6">
        <div>
          <dt class="text-sm font-medium text-gray-500 sm:w-40 sm:flex-shrink-0">
            Bio
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2">
            <p>
              Enim feugiat ut ipsum, neque ut. Tristique mi id elementum praesent. Gravida in tempus feugiat netus enim aliquet a, quam scelerisque. Dictumst in convallis nec in bibendum aenean arcu.
            </p>
          </dd>
        </div>
        <div>
          <dt class="text-sm font-medium text-gray-500 sm:w-40 sm:flex-shrink-0">
            Location
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2">
            New York, NY, USA
          </dd>
        </div>
        <div>
          <dt class="text-sm font-medium text-gray-500 sm:w-40 sm:flex-shrink-0">
            Website
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2">
            ashleyporter.com
          </dd>
        </div>
        <div>
          <dt class="text-sm font-medium text-gray-500 sm:w-40 sm:flex-shrink-0">
            Birthday
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2">
            <time datetime="1988-06-23">
              June 23, 1988
            </time>
          </dd>
        </div>
      </dl>
    </div>
    <div class="pt-5 pb-5 sm:pt-0">
      <dl class="space-y-8 sm:space-y-6">
        <div>
          <dt class="text-sm font-medium text-gray-500 sm:w-40 sm:flex-shrink-0">
            Bio
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2">
            <p>
              Enim feugiat ut ipsum, neque ut. Tristique mi id elementum praesent. Gravida in tempus feugiat netus enim aliquet a, quam scelerisque. Dictumst in convallis nec in bibendum aenean arcu.
            </p>
          </dd>
        </div>
        <div>
          <dt class="text-sm font-medium text-gray-500 sm:w-40 sm:flex-shrink-0">
            Location
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2">
            New York, NY, USA
          </dd>
        </div>
        <div>
          <dt class="text-sm font-medium text-gray-500 sm:w-40 sm:flex-shrink-0">
            Website
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2">
            ashleyporter.com
          </dd>
        </div>
        <div>
          <dt class="text-sm font-medium text-gray-500 sm:w-40 sm:flex-shrink-0">
            Birthday
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2">
            <time datetime="1988-06-23">
              June 23, 1988
            </time>
          </dd>
        </div>
      </dl>
    </div>
    <div class="pt-5 pb-5 sm:pt-0">
      <dl class="space-y-8 sm:space-y-6">
        <div>
          <dt class="text-sm font-medium text-gray-500 sm:w-40 sm:flex-shrink-0">
            Bio
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2">
            <p>
              Enim feugiat ut ipsum, neque ut. Tristique mi id elementum praesent. Gravida in tempus feugiat netus enim aliquet a, quam scelerisque. Dictumst in convallis nec in bibendum aenean arcu.
            </p>
          </dd>
        </div>
        <div>
          <dt class="text-sm font-medium text-gray-500 sm:w-40 sm:flex-shrink-0">
            Location
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2">
            New York, NY, USA
          </dd>
        </div>
        <div>
          <dt class="text-sm font-medium text-gray-500 sm:w-40 sm:flex-shrink-0">
            Website
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2">
            ashleyporter.com
          </dd>
        </div>
        <div>
          <dt class="text-sm font-medium text-gray-500 sm:w-40 sm:flex-shrink-0">
            Birthday
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2">
            <time datetime="1988-06-23">
              June 23, 1988
            </time>
          </dd>
        </div>
      </dl>
    </div>
    <div class="pt-5 pb-5 sm:pt-0">
      <dl class="space-y-8 sm:space-y-6">
        <div>
          <dt class="text-sm font-medium text-gray-500 sm:w-40 sm:flex-shrink-0">
            Bio
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2">
            <p>
              Enim feugiat ut ipsum, neque ut. Tristique mi id elementum praesent. Gravida in tempus feugiat netus enim aliquet a, quam scelerisque. Dictumst in convallis nec in bibendum aenean arcu.
            </p>
          </dd>
        </div>
        <div>
          <dt class="text-sm font-medium text-gray-500 sm:w-40 sm:flex-shrink-0">
            Location
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2">
            New York, NY, USA
          </dd>
        </div>
        <div>
          <dt class="text-sm font-medium text-gray-500 sm:w-40 sm:flex-shrink-0">
            Website
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2">
            ashleyporter.com
          </dd>
        </div>
        <div>
          <dt class="text-sm font-medium text-gray-500 sm:w-40 sm:flex-shrink-0">
            Birthday
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2">
            <time datetime="1988-06-23">
              June 23, 1988
            </time>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</lib-form-layout>